<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/61065078?v=4" type="image/x-icon">
    <title>404 - Danker Sale Items</title>
</head>
<style>
    .div-btn{
        justify-content: center;
        top: 563px;
        right: 47px;
        position: relative;
        text-align: center;
    }
    .btn{
      border-radius: 50px;
      padding: 20px 30px;
      cursor: pointer;
      color: #fff;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background: linear-gradient(-110deg, #fdcd3b 60%, #ffed4b 60%);

    }
</style>
<body background="404.png">

<div>
    
  <div class="div-btn"><center><button onclick="gottohome()" class="btn">Go to Homepage</button></center></div>
</div>
<script>
    function gottohome(){
     window.location.href = "https://dankersaleitems.web.app"
    }
</script>
</body>

</html>