<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/61065078?v=4" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Danker Sale Items</title>
</head>
<style>
    a {
        text-decoration: none;
    }
</style>

<body>
    <!-- Navbar  -->
    <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://avatars.githubusercontent.com/u/61065078?v=4" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="activated" class="nav-link " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="activated" class="nav-link" onclick="onclick()" aria-current="page" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Discord
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/ban-appeal" >Ban Appeal</a></li>
                            <li><a class="dropdown-item" href="/stats">Live Danker Sale Item Stats</a></li>
                            <li><a class="dropdown-item"
                                    href="https://discord.com/channels/843750265554206740/877846892933947412"
                                    target="_blank">Support</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- HERO -->
    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div id="invite" class="py-5">
            <h1 class="display-5 fw-bold text-white">Danker Sale Items</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">This is a place in discord where we will share the latest updates about dank memer
                    and it's sale items. Here you can play music, talk, chat , play and do a lot of things.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="https://discord.com/invite/dFW3gG7gPy"> <button type="button"
                            class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Join Now</button></a>
                    <a href="#server-widget"><button type="button" class="btn btn-outline-light btn-lg px-4">Server
                            Status</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Server Widget -->
    <div id="server-widget" class="container text-center"><br><br />
        <iframe src="https://discord.com/widget?id=843750265554206740&theme=dark" width="350" height="500"
            allowtransparency="true" frameborder="0"
            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
    <br>
    <!-- FOOTER -->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">© 2021 Danker Sale Items</p>

            <a href="/"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img class="bi me-2" width="40" height="32"
                    src="https://avatars.githubusercontent.com/u/61065078?v=4"></img>
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" target="_blank" class="nav-link px-2 text-muted">Home</a>
                </li>
                <li class="nav-item"><a href="/about" target="_blank" class="nav-link px-2 text-muted">About</a>
                </li>
                <li class="nav-item"><a href="/ban-appeal" target="_blank" class="nav-link px-2 text-muted">Ban
                        Appeal</a></li>
                <li class="nav-item"><a href="/stats" target="_blank" class="nav-link px-2 text-muted">Stats</a>
                </li>
                <li class="nav-item"><a href="https://discord.com/channels/843750265554206740/877846892933947412"
                        target="_blank" class="nav-link px-2 text-muted">Support</a></li>
            </ul>
        </footer>
    </div>
    <!--Scripts-->
    <script type="module">
            // Import the functions you need from the SDKs you need
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js";
            import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.0.1/firebase-analytics.js";
            // TODO: Add SDKs for Firebase products that you want to use
            // https://firebase.google.com/docs/web/setup#available-libraries

            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            const firebaseConfig = {
                apiKey: "AIzaSyDAJQW38srFVe4CMCwX5pHIENWJswX99H4",
                authDomain: "dankersaleitems.firebaseapp.com",
                projectId: "dankersaleitems",
                storageBucket: "dankersaleitems.appspot.com",
                messagingSenderId: "823949602372",
                appId: "1:823949602372:web:0644c65bab3cd3ee499611",
                measurementId: "G-PX32TVFXHJ"
            };
// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);

 </script>
 <script>
    function onclick(){
        let a = document.getElementById("activated");
         a.class.toggle("active")
     }
 </script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>

</html>