<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/61065078?v=4" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/580eec0a32.js" crossorigin="anonymous"></script>
    <title>Status - Danker Sale Items</title>
</head>

<body>
    <!-- Style -->
    <style>
        a {
            text-decoration: none;
        }

        .btn a {
            color: #fff;
            text-decoration: none;
        }
    </style>
    <!-- Navbar  -->
   <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://avatars.githubusercontent.com/u/61065078?v=4" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="activated" class="nav-link " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="activated" class="nav-link" onclick="onclick()" aria-current="page" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Discord
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/ban-appeal" >Ban Appeal</a></li>
                            <li><a class="dropdown-item" href="/stats">Live Danker Sale Item Stats</a></li>
                            <li><a class="dropdown-item"
                                    href="https://discord.com/channels/843750265554206740/877846892933947412"
                                    target="_blank">Support</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav><br><br/><br>
<!--Ban Alert-->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>

    <div class="alert alert-primary d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
            <use xlink:href="#info-fill" />
        </svg>
        <div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            Stats are not available always.
        </div>
    </div>
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
            <li class="breadcrumb-item">Discord</li>
            <li class="breadcrumb-item active" aria-current="page">Stats</li>
        </ol>
    </nav>
    <!-- NOTICE STATS -->
    <div class="card">
        <h5 class="card-header">Stats</h5>
        <div class="card-body">
            <h5 class="card-title">NOTICE</h5>
            <div class="card-text">
                <p>Below you will be able to see some of our Discord channels openend for evryone. You can <a
                        target="_blank" href="https://discord.com/app"><kbd><i class="fab fa-discord"></i>
                            login</kbd></a> to your discord account to interact with this widget.</p>
                <button class="btn btn-primary"><a href="https://discord.com/invite/dFW3gG7gPy" class="active">Join the
                        server</a></button>
            </div>
        </div><br><br /><br><br />
        <!-- Stats -->
        <h1 class="text-center">Sale Item Stats</h1>
         <widgetbot
  server="843750265554206740"
  channel="877061464165318696"
  width="100%"
  height="600"
></widgetbot>
        <!-- FOOTER -->
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">© 2021 Danker Sale Items</p>
    
                <a href="/"
                    class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <img class="bi me-2" width="40" height="32"
                        src="https://avatars.githubusercontent.com/u/61065078?v=4"></img>
                </a>
    
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="/" target="_blank" class="nav-link px-2 text-muted">Home</a>
                    </li>
                    <li class="nav-item"><a href="/about" target="_blank" class="nav-link px-2 text-muted">About</a>
                    </li>
                    <li class="nav-item"><a href="/ban-appeal" target="_blank" class="nav-link px-2 text-muted">Ban
                            Appeal</a></li>
                    <li class="nav-item"><a href="/stats" target="_blank" class="nav-link px-2 text-muted">Stats</a>
                    </li>
                    <li class="nav-item"><a href="https://discord.com/channels/843750265554206740/877846892933947412"
                            target="_blank" class="nav-link px-2 text-muted">Support</a></li>
                </ul>
            </footer>
        </div>
        <!--Scripts-->
        <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"></script>
</body>

</html>
